<% if doctor_signed_in? %>
 <li>
  
 <%= link_to('Logout', destroy_doctor_session_path, :method => :delete) %>
 </li>
<% else %>
 <li>

  <a class="btn btn-info" href="doctors/sign_in" role="button">Login</a>

 
 </li>
<% end %> 