<% if doctor_signed_in? %>
 <li>
 <a class="btn btn-info" href="doctors/edit" role="button">edit registration</a>

 </li>
<% else %>
 <li>
 <%= link_to('Register', new_doctor_registration_path) %>
 </li>
<% end %>